$font: 'Museo Sans Cyrl',
sans-serif;
$font-size-title: 3em;
$font-weight-title: 700;
$font-color-title: #0011ff;
$font-size: 18px;
$font-weight: 300;
$font-color: #000000;
$blue: #3CF;
$green: #6F6;
$red: #ff0000;
$desktop: 1200px;
$notebook: 991px;
$phablet: 767px;
$phone: 575px;